<div th:fragment="add-product">
	<main>

		<div class="container mt-5 mb-5">
			<h1>Добавление товара</h1>

			<form action="/product/add" method="post">
				<input type="text" name="product_name" placeholder="Введите имя товара" class="form-control"><br>
				<input type="text" name="unit" placeholder="Введите тип упаковки" class="form-control"><br>
				<input type="number" name="price" placeholder="Введите цену товара" class="form-control" step="any"><br>
				<!--			<textarea name="description" placeholder="Введите описание товара" class="form-control"></textarea><br>-->
				<button type="submit" class="btn btn-success">Добавить товар</button>
			</form>
		</div>
		<div th:each="el : ${product}" class="col">
			<h3 th:text="${el.product_name}"/>
			<p th:text="${el.util}"/>


		</div>
	</main>
</div>